<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Volker Otto. All rights reserved.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>MocoCompanion displays your calendar events next to your time entries so you can quickly create Moco entries from meetings.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>MocoCompanion displays your calendar events next to your time entries so you can quickly create Moco entries from meetings.</string>
</dict>
</plist>
